.about__container {
   text-align: center;
}

section {
   margin-top: 10rem;
}

/* .about__container > div {
   background-color: var(--color-background-variant);
   padding: 3rem 3rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: var(--transitionV);
} */



/* ================MEDIA QUERIES --responsiveness============================= */
@media screen and (max-width: 1024px) {
   section {
      margin: 20rem 0rem 50rem;
  }

}

@media screen and (max-width: 600px) {
      section {
      margin: 10rem 0rem;
  }
     .about__content {
         margin: 1.5rem 0;
     }
  }