.about__container {
   display: grid;
   margin-top: 30%;
   text-align: center;
   height: 40vh;
}

.about__container > div {
   background-color: var(--color-background-variant);
   padding: 3rem 3rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: var(--transitionV);
}



/* ================MEDIA QUERIES --responsiveness============================= */
@media screen and (max-width: 1024px) {
   .about__container {
    grid-template-columns: 1fr;
    gap: 0;
   }
   .about__container > div {
      width: 80%;
      padding: 2rem;
     
  }

  }
/* small devices */
  @media screen and (max-width: 600px) {
   .about__container > div {
      width: 100%;
      padding: 2rem 1rem;
     
  }
  }